# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
nltk
numpy
pandas
regex
requests
scikit-learn
scikit-surprise
streamlit
pickle
